

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000; 
    font-style:italic;
    font-weight:bold;
}


.signup-form
{
  margin-top: 5px;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;*/
}

/* My code */   
.main-wrapper {
    margin: 0 auto;
    width: 1000px;
    padding-top: 12px;
    
}

}


a{
    text-decoration: none;
}

body {

    background-color: #172b4d;
    min-height: 100vh;
}


footer{

    background-color: #ccc;
    min-height: 100vh;
}

header nav {
    width: 100%;
    height: 60px;
    background-color: #fff;
 
}
header nav ul {
    float: left;
}
header nav ul li{
    float: left;
    list-style: none;

}
header nav ul li a{
   font-family: arial;
   font-size: 16px;
   color:#fff;
   line-height: 63px;
    
}

header .nav-login{
    float: right;
    padding-top:  0px;

}
header .nav-login form{
    float: left;
    padding-top:  0px; /* 50 to 20 */
    
}
header .nav-login form input{
float: left;
   width: 140px;
   height: 30px;
   padding: 10px 10px;
   margin-right: 10px;
   border: none;
   background-color: #ccc;
   font-family: arial;
   font-size: 16px;
   color:#fff;
   line-height: 30px;
    
}

header .nav-login form button{

   margin-right: 10px;
  
    
}

.d-flex {
     padding-left:10px;
}
   
}



header .nav-login a{
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border-color: #fff;
    float: left;
   font-family: arial;
   font-size: 17px;
   color:#fff;
   line-height: 71px;
   cursor: pointer;
   padding-top:  12px;
   
}
.main-container{
    padding-top: 80px;


}
.main-container h2{
   
    font-family: arial;
   font-size: 40px;
   color:#fff;
   line-height: 50px;
   text-align: center;
   
}
.btn-primary {
  padding-top: 7px;
}
/* Signup.php*/

.signup-form{
    width: 400px;
    margin: 0 auto;
    padding-top: 30px;
}

label {color:#DDD;}


 h4{
   
    font-family: arial;
   font-size: 20px;
   color:#DDD;
   line-height: 50px;
   text-align: center;
}
   
.padd{
  padding-top: 10px;
}

td {
  width: 15px;
}

.form-control{
    width:240px;
}